#root {
  max-width: 2048px;
  margin: 0 auto;
  background-color: #f7f8fb;
  min-height: 100vh;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.sidebarLogo:hover {
  filter: drop-shadow(0 0.5em 1em rgba(86, 59, 255, 0.26));
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.card {
  padding: 2em;
}
.read-the-docs {
  color: #888;
}
.sidebar::before {
  content: "";
  position: absolute;
  top: -50%;
  left: 0;
  width: 3px;
  height: 2.25rem;
  background-color: #3734a9;
  border-start-end-radius: 0.75rem;
  border-end-end-radius: 0.75rem;
}
